#chart {
  width: 800px;
  height: 500px;
  background: #ddd;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 4px;
}

.grandparent rect {
  fill: yellow;
}

.grandparent:hover rect {
  fill: #E6E6FA;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #FFDAB9;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #fff;
}